<div id="footer" class="text-center">
  <ul>
    <li><a href="dealer.html">dealers </a> 
    </li>
    <li><a href="http://www.metoliusclimbing.com/cgi-metoliusclimbing/sb/order.cgi?storeid=*240e47a1b4d3b72c743bc641f6b278011e40aeab&amp;function=show">shopping cart</a> 
    </li>
    <li>
      <a href="site_map.html"></a><a href="shipping-ordering.html">ordering info</a> 
    </li>
    <li><a href="warranty-returns-repairs.html">warranty and repairs</a> 
    </li>
    <li><a href="disclaimer-copy_right.html">disclaimer</a> 
    </li>
    <li><a href="site_map.html">search</a> 
    </li>
    <li class="last"><a href="contact-info.html">contact</a>
    </li>
  </ul>
</div>
<div id="copyright" class="text-center">
  <a href="disclaimer-copy_right.html"></a>
  <table width="325" height="26">
    <tr>
      <td width="183" align="center"><a href="disclaimer-copy_right.html" class="table_font">&copy; Metolius Climbing</a>
      </td>
      <td width="20" align="center">
        <a href="http://www.facebook.com/metoliusclimb">
          <img src="images/Facebook_icon.png" width="20" height="20" alt="Facebook" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="https://twitter.com/#!/MetoliusClimb">
          <img src="images/twitter-icon.png" width="20" height="16" alt="Twitter" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="http://www.youtube.com/user/metolius?feature=mhum">
          <img src="images/Youtube-icon.png" width="20" height="20" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="http://instagram.com/metoliusclimbing">
          <img src="images/instagram-icon.png" width="20" height="20" alt="Instagram" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="http://www.pinterest.com/metoliusclimb/">
          <img src="images/Pinterest-icon.png" width="20" height="20" alt="Pinterest" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="http://metoliusclimbing.tumblr.com/">
          <img src="images/tumblr-icon.png" width="20" height="20" alt="Tumblr" />
        </a>
      </td>
      <td width="20" align="center">
        <a href="https://plus.google.com/+Metoliusclimbing/posts">
          <img src="images/google-plus-icon.png" width="20" height="20" alt="Google +" />
        </a>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<!-- <script type="text/javascript" src="{{ "/js/jquery-migrate.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.jqzoom.min.js" | prepend: site.baseurl }}"></script> -->
<script type="text/javascript" src="{{ "/js/jquery.loupe.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/fancybox/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/fancybox/helpers/jquery.fancybox-media.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/SpryAssets/SpryMenuBar.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

