<div id="header">
  <div id="headerlogo">
    <a href="http://www.metoliusclimbing.com/">
      <img src="{{ "/images/metolius_logo.jpg" | prepend: site.baseurl }}" alt="Metolius Logo" width="296" height="38" align="top" class="img-responsive" />
    </a>
  </div>

  <div id="navlinks">
    <img src="{{ "/images/menu-icon.png" | prepend: site.baseurl }}" alt="Menu" class="visible-xs pull-left menu-toggle" data-toggle="offcanvas" />
    <a href="climbing-gear.html">
      <img src="{{ "/images/gear-icon.jpg" | prepend: site.baseurl }}" alt="Gear" />
    </a>
    <a href="extras.html">
      <img src="{{ "/images/extras-icon.jpg" | prepend: site.baseurl }}" alt="Extras" />
    </a>
    <a href="site_map.html">
      <img src="{{ "/images/search-icon.jpg" | prepend: site.baseurl }}" alt="Search" />
    </a>

  </div>

  <div class="clearfix"></div>
</div>