<div id="header">
  <div id="headerlogo">
    <a href="http://www.metoliusclimbing.com/">
      <img src="images/metolius_logo.jpg" alt="Metolius Logo" width="296" height="38" align="top" class="img-responsive" />
    </a>
  </div>

  <div id="navlinks">
    <a href="climbing-gear.html">
      <img src="images/gear-icon.jpg" width="78" height="38" alt="Gear" />
    </a>
    <a href="extras.html">
      <img src="images/extras-icon.jpg" width="95" height="38" alt="Extras" />
    </a>
    <a href="site_map.html">
      <img src="images/search-icon.jpg" width="95" height="38" alt="Search" />
    </a>

  </div>

  <div class="clearfix"></div>
</div>