<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <style type="text/css">
      .menu-toggle {
        display: none !important;
      }

      #navlinks {
        text-align: center;
      }

      #navlinks img {
        height: 38px;
      }
    </style>
    <script type="text/javascript">
      function drawImage() {
        var n = 22,
            firstPart = '<img src="images/home/home',
            lastPart = '.jpg" class="img-responsive" />';

        var i = Math.ceil(Math.random() * n);
        document.write(firstPart + i + lastPart);
      }
    </script>
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}

      <script type="text/javascript">
      <!--
      drawImage();
      //-->
      </script>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>