<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="row">
        <div class="row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include subnav.html %}
          </div><!--/col-->

          <div class="col-xs-12 col-sm-9">
            <div id="product-content">
              {{ content }}
            </div>
          </div><!--/col-->

        </div>
      </div><!--/row-->
    </div><!--/.container-->

    {% include footer.html %}
  </body>
</html>