<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}

      <div class="row main-content">
        <div class="row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include subnav.html %}
          </div><!--/col-->

          <div class="col-xs-12 col-sm-9">
            {{ content }}
          </div><!--/col-->

        </div>
      </div><!--/row-->

      {% include footer.html %}
    </div><!--/.container-->
  </body>
</html>